body {
    font-family: Arial, sans-serif;
    background-color: #ECE5DD;
    color: #46c050f5; /* WhatsApp green */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-direction: column; /* Organiza o layout em coluna */
    height: 100vh; /* Ocupa toda a altura da tela */
    text-align: center; /* Centraliza o texto no body */
}

.container {
    background: #FFFFFF; /* White background for form */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('background.jpg');
    padding: 50px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), inset 0 4px 6px rgba(0, 0, 0, 0.1); /* Efeito de relevo */
    width: 320px; /* Aumenta a largura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
    transition: box-shadow 0.3s ease-in-out; /* Transição suave para o efeito */
}

.container:hover {
    box-shadow: 0 12px 24px rgba(1, 116, 20, 0.521), inset 0 6px 10px rgba(0, 0, 0, 0.15); /* Efeito 3D ao passar o mouse */
}

.container h1 {
    font-size: 1.5em; /* Título maior */
    margin-bottom: 40px; /* Aumenta a distância do título */
}

input::placeholder, textarea::placeholder {
    color: rgba(7, 94, 84, 0.3); /* Texto do placeholder mais transparente */
}
input[type="text"], textarea {
    width: 100%;
    padding: 15px 0; /* Mais espaçamento interno */
    margin: 15px 0; /* Mais espaçamento entre os campos */
    border: 1px solid #075E54;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em; /* Aumenta o tamanho da fonte nos campos */
}

button {
    background-color: #25D366; /* WhatsApp green */
    color: white;
    border: none;
    padding: 15px 0; /* Aumenta a altura do botão */
    cursor: pointer;
    border-radius: 50px;
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    width: 50%; /* O botão ocupa toda a largura */
    margin-top: 20px; /* Espaço entre o botão e os campos */
}

button:hover {
    background-color: #1EBE5D; /* Slightly darker green */
}

footer {
    font-size: 0.7em;
    color: #555; /* Subtle gray */
    text-align: center;
    margin-top: 40px; /* Aumenta a margem superior para o footer */
}

footer a {
    text-decoration: none;
    color: #128C7E; /* WhatsApp teal */
}

footer a:hover {
    text-decoration: underline;
}
